<!-- Navbar with responsive behavior -->
<nav class="navbar navbar-expand-lg sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="logocopy.png" width="90px" alt="Logo">
    </a>

    <button class="navbar-toggler text-light border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fs-4"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center gap-2 pe-3">
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link custom-link" routerLink="deliveryrequests/getallDRs" routerLinkActive="active">Delivery Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-link" routerLink="DRApplications/GetMyApplications" routerLinkActive="active">My Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-link" routerLink="deliveryrequests/getMyDeliveryRequests" routerLinkActive="active">My Delivery Requests</a>
          </li>

          <li class="nav-item">
            <a class="nav-link custom-link d-flex align-items-center gap-1">
              <app-chat-icon></app-chat-icon>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link custom-link d-flex align-items-center gap-1" routerLink="deliveryrequests/Create" routerLinkActive="active">
              <i class="bi bi-pencil-square fs-5"></i> Create
            </a>
          </li>


          <li class="nav-item position-relative">
            <a class="nav-link custom-link d-flex align-items-center gap-1" routerLink="/" routerLinkActive="active">
              <i class="bi bi-bell fs-5"></i>
              <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill px-2">3</span>
            </a>
          </li>
          <li class="nav-item ms-3">
            <app-user-profile></app-user-profile>
          </li>

        </ng-container>
      </ul>

      <ng-container *ngIf="!isLoggedIn">
        <div class="d-flex gap-2 ps-3">
          <ul class="navbar-nav ms-auto align-items-center gap-2 pe-3">
          <li class="nav-item">
            <a class="nav-link custom-link" routerLink="deliveryrequests/getallDRs" routerLinkActive="active">Delivery Requests</a>
          </li>
          </ul>

          <a routerLink="/login" routerLinkActive="active-link" class="btn btn-main rounded-pill px-4 py-1">Login</a>
          <a routerLink="/Register" routerLinkActive="active-link" class="btn btn-main rounded-pill px-4 py-1">Register</a>
        </div>
      </ng-container>
    </div>
  </div>
</nav>

