
.btn-main{
  padding: 5px 20px;
  background-color:var(--yellow);
  color: var(--dark);
}

.btn-main:hover{
  opacity: 0.9;
  background-color:var(--yellow);
  color: var(--dark);
}

/*? start landing */
.landing{
  height: 600px;
  background-image: url(../../../../../public/delivering.jpg);
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
}
/*? end landing */


/* Feature start */

.main-title::after{
  content: '';
  width: 120px;
  height: 2px;
  background-color: var(--yellow);
  position: absolute;
  /* bottom: -1px; */
  left: 50%;
  transform: translateX(-50%);
}
.features-center svg{
  height: 200px;
  color: #e99a42;
}

.number-title-holder{
  height: 150px;
}

.number{
  font-size: 120px;
  color: #e99a42;
  opacity: 0.2;
}
/* Feature end */

/* frequntly question start */
.faq{
  /* height:600px; */
  background-color: var(--yellow);
}

.faq-right svg{
  height: 250px;
  color: var(--dark);
}



.faq-accordion {
  max-width: 700px;
  margin: 0 auto;
  background-color: transparent;
}

.faq-item {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
}

.faq-button {
  background-color: var(--dark);
  color: var(--yellow);
  padding: 1rem 1.25rem;
  border: none;
  box-shadow: none;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
}

.faq-button:not(.collapsed) {
  background-color: transparent;
  color: var(--dark);
  font-weight: bold;
}

.faq-button::after {
  filter: invert(80%);
}

.faq-body {
  background-color:transparent;
  color: var(--dark);
  padding: 17px;
  font-size: 0.95rem;
  line-height: 1.6;
}
/* frequntly question end */