<div class="landing d-flex justify-content-center align-items-center">
  <div class="text-center text-light">
      <h1 data-aos="zoom-out-right"  data-aos-duration="400">We are awesome!</h1>
      <p data-aos="zoom-out-left" data-aos-duration="400">Lorem ipsum dolor sit, amet</p>
      <a class="btn btn-main rounded-pill me-1" data-aos="zoom-out-left" data-aos-duration="300">Get Started</a>
  </div>
</div>

<div class="features pt-5 pb-5">
  <div class="container">
      <div class="text-center pb-5 main-title position-relative">
          <h1>Features</h1>
      </div>
      <div class="row">
          <div class="col-lg col-sm-12">
              <div class="row row-cols-1 p-2">
                  <div class="col" data-aos="fade-down"
                  data-aos-easing="linear"
                  data-aos-duration="800">
                      <div class="number-title-holder position-relative">
                          <i class="fa-solid fa-1 position-absolute bottom-0 number"></i>
                          <h1 class="position-absolute bottom-0">header</h1>
                      </div>
                      <p class="text-muted fw-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          Accusamus quidem hic ullam iusto, magnam tempore animi consequuntur harum, fuga
                          explicabo atque, nam rerum placeat assumenda labore eum libero? Enim, esse.</p>
                  </div>

                  <div class="col mt-lg-5 mt-3" data-aos="fade-down"
                  data-aos-easing="linear"
                  data-aos-duration="800">
                      <h1>header</h1>
                      <div class="position-relative">
                          <i class="fa-solid fa-2 position-absolute bottom-0 number"></i>
                          <p class="text-muted fw-light ">Lorem ipsum dolor sit, amet consectetur adipisicing
                              elit. Accusamus quidem hic ullam iusto, magnam tempore animi consequuntur harum,
                              fuga explicabo atque, nam rerum placeat assumenda labore eum libero? Enim, esse.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg  col-sm-12 features-center text-center d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-people-carry-box"></i>
          </div>
          <div class="col-lg  col-sm-12">
              <div class="row row-cols-1 p-2">
                  <div class="col"  data-aos="fade-down"
                      data-aos-easing="linear"
                      data-aos-duration="800">
                      <div class="number-title-holder position-relative">
                          <i class="fa-solid fa-3 position-absolute bottom-0 number"></i>
                          <h1 class="position-absolute bottom-0">header</h1>
                      </div>
                      <p class="text-muted fw-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          Accusamus quidem hic ullam iusto, magnam tempore animi consequuntur harum, fuga
                          explicabo atque, nam rerum placeat assumenda labore eum libero? Enim, esse.</p>
                  </div>

                  <div class="col mt-lg-5 mt-3"  data-aos="fade-down"
                      data-aos-easing="linear"
                      data-aos-duration="800">
                      <h1>header</h1>
                      <div class="position-relative">
                          <i class="fa-solid fa-4 position-absolute bottom-0 number"></i>
                          <p class="text-muted fw-light ">Lorem ipsum dolor sit, amet consectetur adipisicing
                              elit. Accusamus quidem hic ullam iusto, magnam tempore animi consequuntur harum,
                              fuga explicabo atque, nam rerum placeat assumenda labore eum libero? Enim, esse.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="faq pt-5 pb-5">
  <div class="container">
      <div class="text-center pb-5 text-light position-relative">
          <h1>Frequently Asked Question</h1>
      </div>
      <div class="row">
          <div class="col-lg-8 col-sm-12">
              <div class="accordion faq-accordion" id="faqAccordion">
                  <div class="accordion-item faq-item">
                      <h2 class="accordion-header" id="faqHeadingOne">
                          <button class="accordion-button faq-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#faqCollapseOne" aria-expanded="true"
                              aria-controls="faqCollapseOne">
                              What is your return policy?
                          </button>
                      </h2>
                      <div id="faqCollapseOne" class="accordion-collapse collapse show"
                          aria-labelledby="faqHeadingOne" data-bs-parent="#faqAccordion">
                          <div class="accordion-body faq-body">
                              Our return policy allows returns within 30 days of purchase with a valid receipt.
                          </div>
                      </div>
                  </div>

                  <div class="accordion-item faq-item">
                      <h2 class="accordion-header" id="faqHeadingTwo">
                          <button class="accordion-button collapsed faq-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo" aria-expanded="false"
                              aria-controls="faqCollapseTwo">
                              Do you offer international shipping?
                          </button>
                      </h2>
                      <div id="faqCollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqHeadingTwo"
                          data-bs-parent="#faqAccordion">
                          <div class="accordion-body faq-body">
                              Yes, we ship to over 50 countries worldwide. Shipping fees may apply.
                          </div>
                      </div>
                  </div>

                  <div class="accordion-item faq-item">
                      <h2 class="accordion-header" id="faqHeadingThree">
                          <button class="accordion-button collapsed faq-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#faqCollapseThree" aria-expanded="false"
                              aria-controls="faqCollapseThree">
                              Do you offer international shipping?
                          </button>
                      </h2>
                      <div id="faqCollapseThree" class="accordion-collapse collapse"
                          aria-labelledby="faqHeadingThree" data-bs-parent="#faqAccordion">
                          <div class="accordion-body faq-body">
                              Yes, we ship to over 50 countries worldwide. Shipping fees may apply.
                          </div>
                      </div>
                  </div>

                  <div class="accordion-item faq-item">
                      <h2 class="accordion-header" id="faqHeadingfour">
                          <button class="accordion-button collapsed faq-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#faqCollapsefour" aria-expanded="false"
                              aria-controls="faqCollapsefour">
                              Do you offer international shipping?
                          </button>
                      </h2>
                      <div id="faqCollapsefour" class="accordion-collapse collapse"
                          aria-labelledby="faqHeadingfour" data-bs-parent="#faqAccordion">
                          <div class="accordion-body faq-body">
                              Yes, we ship to over 50 countries worldwide. Shipping fees may apply.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 faq-right d-none d-lg-block"  data-aos="zoom-out" data-aos-delay="300" data-aos-duration="1000">
              <i class="fa-solid fa-circle-question"></i>
          </div>
      </div>
  </div>
</div>