<div class="modal-header text-white">
  <h5 class="modal-title">Send Message</h5>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body bg-white">
  <div class="form-group">
    <input class="form-control"
           [(ngModel)]="message"
           type="text"
           placeholder="Type a message..."
           (keyup.enter)="sendMessage()">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Close</button>
  <button type="button" class="btn btn-main px-4" (click)="sendMessage()" [disabled]="!message">
    Send <i class="bi bi-send-fill ms-2"></i>
  </button>
</div>
