.auth-background {
 background-image: url(../../../../../../public/delivering.jpg);
 background-color: var(--dark);
  background-blend-mode: soft-light;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 min-height: 100vh;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}


.login-form {
  background-color: white;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
}
.login-form .form-label {
  color: var(--dark); 
}

.login-form input.form-control {
  border-radius: 4px;
  font-size: 0.95rem;
}

.login-form .btn-primary {
  background-color: var(--yellow);
  border-color: var(--yellow);
  font-weight: 700;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  color: var(--dark);
}

.login-form .btn-primary:hover {
  opacity: 0.9;
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--dark);
}

.login-form .btn-secondary {
  background-color: var(--dark);     
  border: 1px solid var(--dark); 
  color:  #f0f0f0;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 4px;
}

.login-form .btn-secondary:hover {
  background-color: #f0f0f0;
  border-color: var(--dark);
  color: var(--dark);
}

.login-form .alert {
  font-size: 0.875rem;
  color: var(--yellow);
}
