<footer class="text-center text-white">
  <div class="container">
      <section>
          <div class="row text-center d-flex justify-content-center pt-5">
              <div class="col-md-2">
                  <h1 class="text-uppercase font-weight-bold"><a href="#" class="btn text-white">Home</a></h1>
              </div>

              <div class="col-md-2">
                  <h1 class="text-uppercase font-weight-bold"><a href="#" class="btn text-white">Services</a></h1>
              </div>

              <div class="col-md-2">
                  <h1 class="text-uppercase font-weight-bold"><a href="#" class="btn text-white">Portfolio</a></h1>
              </div>

              <div class="col-md-2">
                  <h1 class="text-uppercase font-weight-bold"><a href="#" class="btn text-white">contact</a></h1>
              </div>

              <div class="col-md-2">
                  <h1 class="text-uppercase font-weight-bold"><a href="#" class="btn text-white">About us</a></h1>
              </div>

              
          </div>
      </section>
      <hr class="mt-4 mb-3" />

      <section class="mb-5">
          <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                      distinctio earum repellat quaerat voluptatibus placeat nam,
                      commodi optio pariatur est quia magnam eum harum corrupti
                      dicta, aliquam sequi voluptate quas.
                  </p>
              </div>
          </div>
      </section>

      <section class="text-center mb-5 ">
          <a href="" class=" btn text-white me-4">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-google"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-github"></i>
          </a>
      </section>
  </div>
  <div class="text-center p-3 copyrights">
      © 2025 Copyright:
      <a class="" href="https://ma3ak.me.com">MDBootstrap.com</a>
  </div>
</footer>