<footer class="text-center text-white">
  <div class="container">
      <section class="mb-1">
          <div class="row d-flex justify-content-center">
              <div class="col-lg-8 py-5">
                <p class="">
                    P2PDelivery is a peer-to-peer delivery platform that connects senders with trusted travelers heading in the same direction. 
                    Whether you're shipping a package across the city or sending a gift to another country, our community-driven approach 
                    offers a fast, cost-effective, and secure alternative to traditional delivery services.
                  </p>
              </div>
          </div>
      </section>

      <section class="text-center mb-5 ">
          <a href="" class=" btn text-white me-4">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-google"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="btn text-white me-4">
              <i class="fab fa-linkedin"></i>
          </a>
      </section>
  </div>
  <div class="text-center p-3 copyrights">
      © 2025 Copyright:
      <a class="" href="https://ma3ak.me.com">P2PDeliverycom</a>
  </div>
</footer>