<div class="modal-header">
    <h5 class="modal-title">Edit Application</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCancelEdit()"></button>
  </div>
  
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label class="form-label">Offered Price</label>
        <input type="number" class="form-control" [(ngModel)]="selectedAppToEdit.offeredPrice" name="offeredPrice" />
      </div>
  
      <div class="mb-3">
        
      </div>
    </form>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancelEdit()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSaveEdit()">Save</button>
  </div>
  