
/* You can add global styles to this file, and also import other style files */
:root {
  --dark:#19283f;
  --yellow: #e99a42;
}

.btn-main{
  padding: 5px 20px;
  background-color:var(--yellow);
  color: var(--dark);
}

.btn-main:hover{
  opacity: 0.9;
  background-color:var(--yellow);
  color: var(--dark);
}


body{
  background-color: rgba(52, 60, 72, 0.02);
  /* background-image: url("../public/abstract.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light; */
}